body{
    background-color:beige;
    margin: 0%;
    padding: 0%;
    color: wheat;
}

header{
    background-color: rgb(49, 47, 47);
    margin: 0%;
    padding: 5%;
    text-align: center;
    
}
img{
    width: 30%;
    float: left;
    margin: 90px 20px;
}

.links{
    font-size: 20px;
    color: wheat;
    margin: 50px;
    font-family: Verdana;
    font-weight: 600;
}

.links:hover{
    color: rgb(107, 80, 89);
    background-color: rgb(196, 183, 183);
    padding: 2%;
}

.text{
    color: rgb(29, 29, 29);
    text-align: center;
    margin: 8%;
    float: left;
    width: 50%;
    height: 40%;
    font-size: 20px;
    font-family: Arial;

    
}

footer{
    background-color: rgb(49, 47, 47);
    margin-top:700px;
    padding: 2%;
}


h2{
    color: wheat;
    margin: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-shadow: whitesmoke;
    text-decoration-line: underline;
}

.button1{
    padding: 2% 7%;
    margin: 0;
    position: relative;
    top: 70%;
    left: 35%;
    border-width: 10px;
    background-color: rgb(49, 47, 47);;
    border-color: wheat;
    border-bottom-left-radius: 2%;
}

.link{
    font-size: 20px;
    color: wheat;
}

.link1{
    color: wheat;
    font-size: 30px;
}

.button2{
    margin: 10%;
    float: left;
    padding: 2% 9%;
    position: unset;
    background-color: rgb(49, 47, 47);
    color: wheat;
}